header {
    height : 60px;
    background-color: aqua;
    width: 100%;
    text-align: center;
}

header h1 {
    margin : 0;
    line-height: 60px;
    font-size: 30px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: lightblue;
    position: relative;
}

input.VocabChoice {
    background-color: orange;   
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.AllVocab {
    text-align: center;
    width: 100px;
    margin: 20px auto 0 auto;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 7px;
}

.OtherVocab li, .AllVocab {
    border: 1px solid black;
    background-color: #d8bfd8;
}

.OtherVocab li:hover, .AllVocab:hover {
    background-color: #dda0dd;
}

.OtherVocab li:has(input[type="checkbox"]:checked) label, .AllVocab:has(input[type="checkbox"]:checked) label{
    background-color: rgb(213, 106, 213);
    color: white;
}

.OtherVocab ul > li:first-child, .OtherVocab ul > li:first-child label {
    font-weight: bold;
    filter: brightness(85%);
    border-radius: 7px 7px 0 0;
    border-bottom: 2px solid black;
}

.OtherVocab ul > li:last-child {
    border-radius: 0 0 7px 7px;
}

/*Hides the checkbox elements*/
.OtherVocab input[type="checkbox"], .AllVocab input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none; /* For Safari */
    display: none;
}

.OtherVocab li label, .AllVocab label {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.AllVocab label {
    border-radius: 7px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0px 15px 0px;
}

div.VocabChoice {
    display: flex;
    flex-direction: column;
}

div.VocabChoice ul {
    padding: 5px 15px 5px 15px;
}

div.OtherVocab {
    display: flex;
    justify-content: center;
}

button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 30px;
}

.OtherInputs button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -0%);
}

div.OtherInputs {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

div.OtherInputs p {
    font-size: 20px;
}

button:hover {
    background-color: darkorange;
}

h4 {
    font-size: 20px
}

.OtherInputs label {
    display: inline-block; 
}

.OtherInputs input{
    margin-top: 20px;
    margin-bottom: 20px;
}

div.Test {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 50%;
    margin-top: 300px;
    transform: translate(-50%, -50%);
}

div.Test input {
    height: 50px;
    width: 400px;
    font-size: 25px;
    margin-left: 35px;
}

.Test h4 {
    font-size: 30px;
    width: 500px;
}

.Test button {
    width: 200px;
    height: 70px;
    font-size: 40px;
    margin-right: 30px;
}

#Buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Test .Info {
    width: 400px;
    height: 200px;
    overflow-y: auto;
}

.w3-progress-container {
    width:100%;height:1.5em;position:relative;background-color:#f1f1f1
}

.w3-progressbar {
    background-color:#757575;height:100%;position:absolute;line-height:inherit
}

.w3-round-xlarge {
    border-radius:16px
}

.ProgressDiv {
    display: inline-block;
}
