/* CSS Variables for colors */
:root {
    /* Original */
    --header-color: aqua;
    --bg-color: lightblue;
    --base-color: #d8bfd8;
    --accent-color: rgb(213, 106, 213);
    --hover-color: #dda0dd;
    --selected-color:  #e269c6;
    --button-color: orange;
    --buttonHover-color: darkorange;
    /* Second attempt 
    --header-color: #e2bd6b;
    --bg-color:#e3cea3;
    --base-color:rgb(163, 188, 211);
    --accent-color:rgb(95, 141, 240);
    --hover-color:rgb(108, 167, 222);
    --selected-color:#5555eb;
    --button-color: darkorange;
    --buttonHover-color:rgb(186, 101, 3);
    */
    /*Third attempt - gladiator theme
    --header-color: #E8C668;
    --bg-color:#e3cea3;
    --base-color:#E8C668;
    --accent-color:#CEA04D;
    --hover-color:#844A17;
    --selected-color:#5555eb;
    --button-color: #437697;
    --buttonHover-color:#475E68;
    */
    /* Fourth attempt - gladiator theme AI Version 
    --header-color: #A30000;
    --bg-color: #FFF8E1;
    --base-color: rgb(209, 155, 8);
    --accent-color: #8B0000;
    --hover-color: #CC7722;
    --selected-color: #4169E1;
    --button-color: #A30000;
    --buttonHover-color: #8B0000;
    */
}

header {
    height : 60px;
    background-color: var(--header-color);
    width: 100%;
    text-align: center;
}

header h1 {
    margin : 0;
    line-height: 60px;
    font-size: 30px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    position: relative;
    /*background-image: linear-gradient(to right, #c28d59 , #e2c798, #c28d59);*/
}

.AllVocab {
    text-align: center;
    width: 100px;
    margin: 20px auto 0 auto;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 7px;
}

.OtherVocab li, .AllVocab {
    border: 1px solid black;
    background-color: var(--base-color);
}

.OtherVocab li:hover, .AllVocab:hover {
    background-color: var(--hover-color);
}

.OtherVocab li:has(input[type="checkbox"]:checked) label, .AllVocab:has(input[type="checkbox"]:checked) label{
    background-color: var(--accent-color);
    color: white;
}

.OtherVocab ul > li:first-child, .OtherVocab ul > li:first-child label {
    font-weight: bold;
    filter: brightness(85%);
    border-radius: 7px 7px 0 0;
    border-bottom: 2px solid black;
}

.OtherVocab ul > li:last-child, .OtherVocab ul > li:last-child label {
    border-radius: 0 0 7px 7px;
}

/*Hides the checkbox elements*/
.OtherVocab input[type="checkbox"], .AllVocab input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none; /* For Safari */
    display: none;
}

.OtherVocab li label, .AllVocab label {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.AllVocab label {
    border-radius: 7px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0px 15px 0px;
}

div.VocabChoice {
    display: flex;
    flex-direction: column;
}

div.VocabChoice ul {
    padding: 5px 15px 5px 15px;
}

div.OtherVocab {
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 30px;
    border: 1px solid black;
    margin: 15px;
}

div.OtherInputs {
    text-align: center;
    background-color: var(--base-color);
    width: 300px;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 30px;
}

div.OtherInputs p {
    font-size: 20px;
}

button:hover {
    background-color: var(--buttonHover-color);
}

h4 {
    font-size: 20px
}

.OtherInputs label {
    display: inline-block; 
}

.OtherInputs input{
    margin-top: 20px;
    margin-bottom: 20px;
    appearance: none;
    -webkit-appearance: none; /* For Safari */
    display: none;
}

.OtherInputs label {
    width: 60%;
    margin: 15px;
    height: 100%;
    border: 1px solid black;
    background-color: var(--hover-color);
    border-radius: 5px;
    line-height: 0;
    cursor: pointer;
}

.OtherInputs label:hover {
    background-color: var(--accent-color);
}

.OtherInputs span:has(input[type="radio"]:checked) label {
    background-color: var(--selected-color);
    color: white;
    border: 2px solid black;
}

div.Test {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 50%;
    margin-top: 400px;
    transform: translate(-50%, -50%);
}

div.Test input {
    height: 50px;
    width: 400px;
    font-size: 25px;
    margin-left: 35px;
    background-color: var(--base-color);
    border: 2px solid black;
}

div.Test input::placeholder {
    color: black;
    opacity: 0.7;
}

div.Test input:focus {
    outline: none;
    border: 3px solid  black;
}

.Test h4 {
    font-size: 30px;
    width: 500px;
}

.Test button {
    width: 200px;
    height: 70px;
    font-size: 40px;
    margin-right: 30px;
}

#Buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Test .Info {
    text-align: center;
    padding: 5px;
}

.Test .Incorrect {
    width: 400px;
    height: 200px;
    overflow-y: auto;
    padding: 10px;
}

.Test .Incorrect, .Test .Info {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--base-color);
    border-radius: 6px;
}

.w3-progress-container {
    width:100%;
    height:1.5em;
    position:relative;
    background-color: var(--base-color);
    border: 2px solid black;
}

.w3-progressbar {
    background-color: var(--accent-color) ;
    height:100%;
    position:absolute;
    line-height:inherit;
}

.w3-round-xlarge {
    border-radius:16px
}

.ProgressDiv {
    display: inline-block;
}

#Score, #Progress {
    font-size: 25px;
    background-color: var(--base-color);
    width: 220px;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    margin: 15px;
    line-height: 50px; /* Vertically center the text */
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

#AboveBar {
    display: flex;
}

/* Scrollbar styling for Info div */
/* Make the button boxes look like roman stone with cracks etc and the writing carved into it like a 
stone tablet.*/
.Test .Incorrect::-webkit-scrollbar {
    border-radius: 6px;
    width: 12px;
    background-color: var(--hover-color);
    color: var(--accent-color);
}

.Test .Incorrect::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 6px;
}
